---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "四方木のBlog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>チュートリアルのブログ作成中。</p>
      
        <p>このサイトはチュートリアルを進めるにつれて更新されていきます。定期的にチェックして、私の旅の様子を見に来てください！</p>
        <ul>
            {allPosts.map((post => <BlogPost url={post.url} title={post.frontmatter.title} />))}
        </ul>
</BaseLayout>